h1 {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
ul,
li {
  list-style-type: none;
}

.clickable {
  cursor: pointer;
}

.deleteButton {
  color: white;
  font-weight: bold;
  background-color: darkred;
  margin-right: 10px;
  border-radius: 50%;
}

label {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form {
  margin-bottom: 30px;
  
}

#btnEnviar {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#navBar {
  width: 500px;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




.button {  
  text-decoration: none;
  color: black;
  text-align: center;  
  width: 171px;
  line-height: 36px;
  height: 36px;
  border: 1px solid black;    
  background-color: #C4C4C4;
  align-items: center;   
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;  
}

a {
  text-decoration: none;   
}

.button:hover {
  cursor: pointer;
  background-color:#202020;  
}

.buttonCard {
  text-decoration: none; 
  text-align: center;
  line-height: 20px;
  width: 72px;
  height: 20px;
  border: 1px solid black;    
  align-items: center; 
}

.buttonCard:hover {
  cursor: pointer;
  background-color:#343434;  
}

.messageCard {
  width: 500px;
  display: flex;
  flex-direction: column;  
  margin-top: 20px;
  background-color: #C4C4C4;
  padding: 15px;  
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardSpanName {  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.cardMessage {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}